// Copyright 2018 Superblocks AB
//
// This file is part of Superblocks Lab.
//
// Superblocks Lab is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation version 3 of the License.
//
// Superblocks Lab is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Superblocks Lab.  If not, see <http://www.gnu.org/licenses/>.

select {
    width: 100%;
    color: #fff;
    background-color: #433753;
    border: 0px;
    border-radius: 0;
}
.btn1 {
    display: inline-block;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    border: 1px solid #8641f2;
    font-size: 1.1em;
    background-color: transparent;
    padding: 1px 5px;
    text-decoration: none;
    color: #8641f2;
    &:hover {
        background-color: #8641f2;
        color: #fff;
        text-decoration: none;
    }
}
.treemenu {
    display: block;
    overflow-y: auto;
    height: 100%;
}

.item {
    user-select: none;
    position: relative;
    .icons {
        display: flex;
        .nocaret {
            float: left;
            overflow: hidden;
            width: 15px;
        }
        .icon {
            float: left;
            width: 25px;
            overflow: hidden;
            margin-top: 2px;
            text-align: center;
            margin-right: 3px;
        }
        .noicon {
            float: left;
            width: 0;
            overflow: hidden;
        }
        a {
            display: block;
            border: none;
            color: inherit;
            padding: 0;
            margin: 0;
            text-align: center;
        }
    }
    .header {
        border-left: 2px solid;
        border-color: transparent;
        padding-right: 10px;
        width: 100%;
        display: flex;
        &:after {
            content: " ";
            display: block;
            clear: both;
        }
    }
    .title {
        display: flex;
        max-width: 99%;
        float: left;
    }
    .collapsed {
        overflow: hidden;
        transition: ease-out;
        height: 0;
    }
    .level0 {
        display: block;
        line-height: 0;
    }
    .level1 {
        display: block;
        color: #fff;
        line-height: 28px;
        margin-top: -15px;
        .header {
            &:hover {
                background-color: rgba(128, 46, 255, 0.10);
                cursor: pointer;
                color: #fff;
                border-color: #7237CF;
            }
        }
    }
    .level2 {
        display: block;
        line-height: 28px;
        .header {
            padding-left: 5px;
        }
    }
    .level3 {
        display: block;
        line-height: 28px;
        .header {
            padding-left: 20px;
        }
    }
    .level4 {
        display: block;
        line-height: 28px;
        .header {
            padding-left: 35px;
        }
    }
    .level5 {
        display: block;
        line-height: 28px;
        .header {
            padding-left: 50px;
        }
    }
    .level6 {
        display: block;
        line-height: 28px;
        .header {
            padding-left: 65px;
        }
    }
    .level7 {
        display: block;
        line-height: 28px;
        .header {
            padding-left: 80px;
        }
    }
    .level8 {
        display: block;
        line-height: 28px;
        .header {
            padding-left: 95px;
        }
    }
    .level9 {
        display: block;
        line-height: 28px;
        .header {
            padding-left: 110px;
        }
    }
    .level10 {
        display: block;
        line-height: 28px;
        .header {
            padding-left: 125px;
        }
    }
    .level11 {
        display: block;
        line-height: 28px;
        .header {
            padding-left: 140px;
        }
    }
    .level12 {
        display: block;
        line-height: 28px;
        .header {
            padding-left: 155px;
        }
    }
    .level13 {
        display: block;
        line-height: 28px;
        .header {
            padding-left: 170px;
        }
    }
    .level14 {
        display: block;
        line-height: 28px;
        .header {
            padding-left: 185px;
        }
    }
    .level15 {
        display: block;
        line-height: 28px;
        .header {
            padding-left: 200px;
        }
    }
    .hidden {
        display: none;
    }
    clear: both;
    display: block;
}
.accountAddress {
    .title {
        font-size: 0.7em;
        -webkit-touch-callout: text;
        -webkit-user-select: text;
        -khtml-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
}
.contractSource {
    .title {
        display: block;
        line-height: 200%;
        max-width: 52%;
        font-size: 0.7em;
    }
}
.menutop {
    >.header {
        >.icons {
            display: none;
        }
    }
    > a {
        margin: 3px 1px 3px 0;
    }
    .btn1 {
        float: left;
    }
    .reload {
        float: right;
        margin-right: 3px;
        color: #aaa;
    }
}
.menuprojects {
    display: block;
    >.header {
        >.icons {
            display: none;
        }
    }
}
.project {
    >.header {
        display: none;
    }
}
.files {
    margin-top: 24px;
}
.environment {
    >.header {
        >.icons {
            display: none;
        }
        >.title {
            text-align: center;
        }
    }
}
.projectSelect {
    .title {
        float: left;
        max-width: 55%;
    }
    .buttons {
        float: right;
        max-width: 10%;
        overflow: hidden;
        text-align: right;
    }
    .select {
        float: right;
        max-width: 30%;
        overflow: hidden;
        text-align: right;
    }
}
.projectContractsTitleContainer {
    display: flex;
    align-items: center;
    position: relative;
    align-items: center;
    .icons {
        display: flex;
    }
    .title {
        display: flex;
        width: 100%;
        min-width: 50px;
        a {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .buttonsWrapper {
        display: flex;
        order: 3;
        justify-content: flex-end;
        min-width: 90px;
    }
    &.directoryEntry {
        .buttonsWrapper {
            min-width: 90px;
        }
    }
    &.fileEntry {
        .buttonsWrapper {
            min-width: 40px;
        }
    }
    .buttons {
        display: flex;
        overflow: hidden;
        justify-content: flex-end;
        width: 100%;
        button, a {
            color: #fff;
            opacity: .6;
            font-size: 0.8em;
            padding-left: 4px;
            padding-right: 4px;
            transition: opacity .2s;
            &:hover {
                opacity: 1;
                text-decoration: none;
            }
        }
    }
    .buttonsMoveContracts {
        margin-right: 2px;
        button {
            padding-left: 3px;
            padding-right: 3px;
        }
    }
}

.contextMenu {
    display: block;
    position: absolute;
    margin-top: -1px;
    margin-left: 30px;
    background-color: #141414;
    z-index: 1;
    min-width: 245px;
    z-index: 5;
    border-radius: 4px;
    padding: 4px 0;
    div {
        display: flex;
        align-items: center;
        color: #c7c7c7;
        padding: 2px 4px;
        border-left: 2px solid;
        border-color: transparent;
        margin: 0;
        &:hover {
            background-color: rgba(128, 46, 255, 0.10);
            cursor: pointer;
            color: #ffffff;
            border-color: #7237CF;
            .icon {
                border-color: transparent;
                background: transparent;
                color: #ffffff;
            }
        }
        .icon {
            margin-left: 10px;
            margin-right: 20px;
            color: #c7c7c7;
        }
    }
}
