.container {
    display: flex;
    height: 38px;
    align-content: center;
    align-items: center;
    color: white;
    margin-left: 14px;
    .selector {
        display: flex;
        margin-left: 14px;
        .dropdownIcon {
            margin-left: 14px;
            height: 8px;
            widows: 5px;
        }
    }
    .separator {
        border-left: 1px solid #979797;
        height: 12px;
        margin-left: 14px;
        margin-top: 2px;
    }
}
