body {
    background-color: #725BA4;
    color: #FCE8DF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.text {
    display: none;
}

.error {
    color: red;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group, button {
    margin-top: 5px;
}

#loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
