.container {
    display: flex;
    align-content: center;
    align-items: center;
    margin-top: 100px;
    .content {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 100%;
        color: #fff;
        h3 {
            margin-bottom: 0;
        }
        a {
            color: #8641F2;
        }
    }
}
