// Copyright 2018 Superblocks AB
//
// This file is part of Superblocks Lab.
//
// Superblocks Lab is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation version 3 of the License.
//
// Superblocks Lab is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Superblocks Lab.  If not, see <http://www.gnu.org/licenses/>.

.main {
    background-color: #1e1e1e;
    width: 100%;
    height: 100%;
    .inner {
        margin-left: 10px;
        padding: 16px 10px 80px 50px;
    }
}

.noTransactions {
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px;

    p {
        text-align: center;
    }
}

.transactionlogPanel {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 110px;
}
