// Copyright 2018 Superblocks AB
//
// This file is part of Superblocks Studio.
//
// Superblocks Studio is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation version 3 of the License.
//
// Superblocks Studio is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Superblocks Studio.  If not, see <http://www.gnu.org/licenses/>.

.modal {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    padding: 20px;
    padding-top: 1px;
    display: block;
    width: 800px;
    max-width: 90%;
    margin: 160px auto;
    color: #444;
    background-color: #ffffff;
    &>h2 {
        display: block;
        text-align: center;
        font-size: 1.5em;
        color: #8641f2;
    }
    &>div {
        display: block;
        margin: auto;
    }
}
