.container {
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(99, 99, 99);
    padding: 1rem;
    font-size: 1.25em;
    width: 300px;
    .contactIcon {
        display: inline-block;
        color: rgba(255, 255, 255, 0.4) !important;
        font-size: 1.125em;
        margin-right: 0.5em;
        &:hover {
            color: rgba(255, 255, 255, 0.6) !important;
        }
    }
    .version {
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        float: right;
        font-size: 0.6rem;
        height: 28px;
        vertical-align: middle;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.3);
    }
}
