// Copyright 2019 Superblocks AB
//
// This file is part of Superblocks Lab.
//
// Superblocks Lab is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation version 3 of the License.
//
// Superblocks Lab is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Superblocks Lab.  If not, see <http://www.gnu.org/licenses/>.

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 15px;
    border-bottom: 1px solid #383F41;
    transition: background .15s;

    &:hover {
        background: #262c30;
    }
    
    .projectInfo {
        display: flex;
        align-items: center;
        padding-right: 20px;

        .letterAvatar {
            margin-right: 10px;
            margin-top: 3px;
            min-height: 30px;
            min-width: 30px;
        }

        .name {
            font-size: 18px;
            font-weight: 600;
        }
    
        .description {
            margin-top: 5px;
            opacity: .6;
        }
    }

    .timestamp {
        opacity: 0.6;
        margin-left: auto;
        white-space: nowrap;
    }
}
