// Copyright 2018 Superblocks AB
//
// This file is part of Superblocks Lab.
//
// Superblocks Lab is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation version 3 of the License.
//
// Superblocks Lab is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Superblocks Lab.  If not, see <http://www.gnu.org/licenses/>.

@import '../../style/index';

.centerScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.newDapp {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #F3F3F3;
        padding: 18px 32px;
        .title {
            color: #383E40;
            font-weight: 700;
            text-align: left;
        }
    }
    .area {
        padding: 63px 15px 40px 32px;
    }
    .step1 {
        width: 512px;
        height: 400px;
        .form {
            display: inline-block;
            -webkit-border-radius: 17;
            -moz-border-radius: 17;
            border-radius: 17px;
            width: 100%;
            margin: 10px auto;
            label {
                margin-left: 3px;
            }
        }
        input {
            width: 443px;
        }
    }
    .step2 {
        min-width: 920px;
        min-height: 700px;
        .container {
            display: flex;
            margin-top: 20px;
        }
        .categoriesArea {
            width: 20%;
            border-right: 1px solid #D8DDE6;
            .categoriesTitle {
                font-weight: 600;
                margin-bottom: 16px;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    line-height: 40px;
                    padding: 0 16px;
                    &:hover {
                        background-color: @white-color-hover;
                        color: #8641F2;
                        cursor: pointer;
                    }
                }
                .selected {
                    background-color: @white-color-hover;
                    color: #8641F2;
                }
            }
        }
        .templateListArea {
            width: 80%;
            overflow-y: auto;
            .gridLayout {
                height: 540px;
                padding-left: 20px;
                .templateLayout {
                    padding: 15px;
                    img {
                        border-radius: 4px;
                    }
                    .title {
                        font-weight: 700;
                        margin-top: 10px;
                        text-align: left;
                    }
                    .description {
                        margin-top: 7px;
                    }
                    &:hover {
                        background-color: @white-color-hover;
                        cursor: pointer;
                    }
                }
            }
            .selected {
                background-color: @white-color-hover;
            }
        }
    }
    .footer {
        position: absolute;
        right: 40px;
        bottom: 40px;
    }
    .alignContnetCenter {
        align-items :center;
        justify-content: center;
        flex-direction: column;
        display:grid;
    }
}
